---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Sam Forderer";
import { Image } from 'astro:assets';
import blueFace from '../assets/blueface.png';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>home - {pageTitle}</title>
	</head>
		<BaseLayout pageTitle={pageTitle}>
			<section>
				<div class="circle-box">
					<Image src={blueFace} alt="asdf" alt="asdf" width="300"/>
				</div>
				<h1>Hi, I'm {pageTitle}.</h1>
				<p>I am a second year software development student. I'm currently working as an IT Support Technician
					and pursuing a co-op position in DevOps. I am crazy about tech and design and where the two intersect. Enjoy your stay!
				</p>
			</section>
		</BaseLayout>
</html>
